:root {
  --primary-color: #f0f0f0; /* Ejemplo */
  --secondary-color: #333; /* Ejemplo */
  --text-color: #555; /* Ejemplo */
  --font-family-sans: Arial, sans-serif; /* Ejemplo */
  --header-height: 80px; /* Altura del header */
  --banner-cinta-height: 41px; /* Altura del banner de cinta */
}